<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>
<body>
    <div>
        <h2 style="color: blue;">Seu ID:  <%= listaCartao[0].ID %>!</h2>
        <h2 style="color: blue;">Numero do cartão: <%= listaCartao[0].NUMERO %>!</h2>
        <h2 style="color: blue;">Nome do titular: <%= listaCartao[0].NOME_DO_TITULAR %>!</h2>
        <h2 style="color: blue;">Validade: <%= listaCartao[0].VALIDADE %>!</h2>
    </div>
</body>
</html>